{
  "tabWidth": 2,
  "useTabs": false,
  "endOfLine": "lf",
  "quoteProps": "as-needed",
  "printWidth": 100,
  "proseWrap": "preserve",
  "singleQuote": false,
  "trailingComma": "none",
  "arrowParens": "always",
  
  "plugins": [
    "@ianvs/prettier-plugin-sort-imports", 
    "prettier-plugin-tailwindcss"
  ],

  "tailwindPreserveWhitespace": false,
  "tailwindFunctions": ["clsx", "cva", "cn"],
  "importOrder": ["^vue$", "^pinia$", "<BUILTIN_MODULES>", "<THIRD_PARTY_MODULES>", "^@/stores/(.*)$", "^@/components/(.*)$", "^@/(.*)$", "^[./]", "", "^(?!.*[.]css$)[./].*$", ".css$"],
  "importOrderParserPlugins": ["typescript"],
  "importOrderCaseSensitive": false
}
