body {
  @apply bg-gray-200 overflow-x-hidden text-base leading-normal tracking-wide text-dark-500 antialiased;
}

.app {
  @apply bg-light-50 overflow-x-hidden flex flex-col min-h-600px h-600px h-screen min-w-365px gap-0 mx-auto md:(max-w-4/12 shadow-lg);
}

a {
  @apply hover:underline underline-current;
}

input {
  @apply !outline-none;
}

.break-anywhere {
  overflow-wrap: anywhere;
}

::-webkit-scrollbar {
  @apply w-5px;
}

/* scrollbar track */
::-webkit-scrollbar-track {
  @apply bg-transparent;
}

/* scrollbar handle */
::-webkit-scrollbar-thumb {
  @apply rounded-sm bg-gray-300;
}

/* scrollbar handle on hover */
::-webkit-scrollbar-thumb:hover {
  @apply bg-gray-400;
}

.input-error {
  @apply text-xs text-red-600 font-normal px-1;
}

label {
  @apply font-semibold text-sm;
}

.default-transition {
  @apply transition-all ease-linear duration-150;
}

.control {
  @apply rounded border-1 border-gray-400 my-1 p-2 default-transition text-sm
  focus:(outline-none border-blue-800 ring-2 ring-blue-300)
  hover:border-blue-800 outline-none;
}

.tabs {
  @apply flex flex-row text-sm text-gray-500 bg-gray-100 p-0;
}

.tabs .tab-item {
  @apply outline-none text-center block default-transition max-w-20
     border-b-2 border-gray-200
    hover:text-blue-700 focus:outline-none active:(outline-none text-blue-800);
}

.tabs .tab-item.spacing {
  @apply flex-grow max-w-full;
}

.tabs .tab-item.active {
  @apply text-blue-700 border-blue-600 border-b-2;
}

.table {
  @apply divide-y min-w-full divide-gray-200;
}

.table thead {
  @apply bg-gray-50 text-left;
}

.table thead th {
  @apply font-medium text-xs tracking-wider py-3 text-gray-500 uppercase;
}

.table tbody {
  @apply divide-y bg-white divide-gray-200;
}

.table tbody td {
  @apply text-sm py-4 align-middle;
}

.table tbody td:first-child,
.table thead th:first-child {
  @apply pl-4;
}

.table tbody td:last-child,
.table thead th:last-child {
  @apply pr-4;
}

.table tr:first-child th:first-child {
  @apply rounded-tl;
}

.table tr:first-child th:last-child {
  @apply rounded-tr;
}

.table tr:last-child td:first-child {
  @apply rounded-bl;
}

.table tr:last-child td:last-child {
  @apply rounded-br;
}

.shadow-scroll {
  --rad: radial-gradient(100% 0.8rem, rgba(0, 0, 0, 0.1), transparent);
  background: linear-gradient(
        white 0.4rem,
        transparent 2rem calc(100% - 2rem),
        white calc(100% - 0.4rem)
      )
      local,
    var(--rad) top / 100% 200%, var(--rad) bottom / 100% 200%;
}

.zoom-out-enter-active,
.zoom-out-leave-active {
  @apply transition duration-250;
}

.zoom-out-enter,
.zoom-out-enter-from,
.zoom-out-leave-active {
  @apply opacity-0 transform scale-110;
}

.fade-slide-up-enter-active,
.fade-slide-up-leave-active {
  @apply transition duration-250;
}

.fade-slide-up-enter-active .animation-content,
.fade-slide-up-leave-active .animation-content {
  @apply transition duration-250;
}

.fade-slide-up-enter,
.fade-slide-up-enter-from,
.fade-slide-up-leave-active {
  @apply opacity-0;
}

.fade-slide-up-enter .animation-content,
.fade-slide-up-enter-from .animation-content,
.fade-slide-up-leave-active .animation-content {
  @apply transform translate-y-10;
}

.btn {
  @apply bg-blue-600 border border-solid rounded font-bold
    outline-none border-blue-800 text-sm mb-1 py-2 
    px-4 uppercase default-transition text-light-300
    hover:(bg-blue-700) focus:(outline-none ring-2 ring-blue-300)
    active:bg-blue-800;
}

.btn.danger {
  @apply bg-red-600 border-red-800 text-light-300
    hover:(bg-red-700) focus:(ring-red-300)
    active:bg-red-800;
}

.btn.outlined {
  @apply bg-transparent outline-none text-blue-800 
    hover:(bg-blue-700 text-light-300) focus:(outline-none ring-2 ring-blue-300)
    active:(bg-blue-800 text-light-300);
}

button:disabled,
input:disabled {
  @apply bg-gray-50 text-gray-400 cursor-not-allowed border-gray-700 
  outline-none hover:bg-gray-50 hover:text-gray-400 hover:border-gray-700;
}

.nav-btn {
  @apply bg-transparent border border-solid rounded text-left
    font-semibold outline-none border-blue-800 text-sm mr-1
    w-full p-4 text-blue-800 default-transition
    hover:bg-blue-50 focus:outline-none active:bg-blue-100;
}

.nav-btn .title {
  @apply block uppercase;
}

.nav-btn .subtitle {
  @apply font-normal text-xs mt-0.5 text-gray-500 block mx-4;
}

.dropdown {
  @apply text-left w-full relative inline-block;
}

.dropdown.discrete.active {
  @apply shadow-lg;
}

.dropdown .trigger {
  @apply outline-none w-full py-2 px-4 text-gray-700 gap-2 default-transition 
  items-center inline-flex justify-between bg-gray-100 border rounded border-gray-300 
  focus:outline-none hover:bg-gray-200 active:bg-gray-300;
}

.dropdown.discrete .trigger {
  @apply bg-transparent border border-transparent rounded outline-none w-full py-2 px-4
  text-gray-700 gap-2 default-transition items-center inline-flex justify-between
  hover:(bg-gray-100 border-gray-300) focus:outline-none active:(outline-none bg-gray-200);
}

.dropdown.discrete .trigger.active {
  @apply border-gray-300 bg-white hover:bg-gray-100;
}

.dropdown .trigger.active {
  @apply bg-gray-200 hover:bg-gray-100;
}

.dropdown .trigger:disabled {
  @apply bg-gray-50 text-gray-400 cursor-not-allowed 
  outline-none hover:bg-gray-50 hover:text-gray-400 hover:border-gray-300;
}

.dropdown.discrete .trigger:disabled {
  @apply cursor-auto bg-transparent text-gray-700 hover:border-transparent;
}

.dropdown.discrete .trigger.active.bottom {
  @apply border-b-transparent rounded-b-none;
}

.dropdown.discrete .trigger.active.top {
  @apply border-t-transparent rounded-t-none;
}

.dropdown.discrete .items-list {
  @apply max-h-100;
}

.dropdown .items-list {
  @apply divide-y bg-white border rounded divide-gray-100 
    border-gray-300 text-sm w-full max-h-50 right-0 shadow-lg
    overflow-y-auto absolute z-50 focus:outline-none;
}

.dropdown.discrete .items-list.bottom {
  @apply top-full bottom-auto rounded-t-none border-t-0 origin-top -mt-0.2;
}

.dropdown.discrete .items-list.top {
  @apply top-auto bottom-full rounded-b-none border-b-0 origin-bottom shadow-none -mb-0.2;
}

.dropdown .items-list.bottom {
  @apply top-full bottom-auto origin-top mt-0.5;
}

.dropdown .items-list.top {
  @apply top-auto bottom-full origin-bottom mb-0.5;
}

.dropdown .items-list .group {
  @apply py-1;
}

.dropdown .items-list .group:first-child {
  @apply pt-0;
}
.dropdown .items-list .group:last-child {
  @apply pb-0;
}

.dropdown .items-list .group .group-item {
  @apply py-3 px-4 block cursor-pointer underline-transparent hover:bg-gray-100
  active:(outline-none bg-gray-200);
}

.dropdown .items-list .group .group-item.narrow {
  @apply py-2;
}

.input-wrap {
  @apply cursor-text rounded border-1 border-gray-400
  default-transition text-sm outline-none hover:border-blue-600 my-1 p-2
  focus-within: (outline-none border-blue-800 ring-2 ring-blue-300);
}

.items-select {
  @apply min-h-30 h-auto;
}

.items-select .o-inputit__container {
  @apply border-none gap-2;
}

.vjs-tree .vjs-value {
  @apply break-all;
}

.vjs-tree .vjs-key {
  @apply mr-1;
}

.vjs-tree .vjs-tree-node {
  @apply -mx-2 px-2 py-0.5;
}

.vjs-tree .vjs-tree-node:hover {
  @apply bg-gray-600;
}

.items-select .tag {
  @apply inline-flex rounded bg-gray-200 font-normal text-dark-400 px-1 m-0;
}

.autocomplete-list {
  @apply shadow-lg block border border-1 border-gray-200 mt-2 rounded max-h-40 overflow-auto;
}

.autocomplete-list .item {
  @apply p-2 px-4 font-normal block cursor-pointer underline-transparent
  hover:bg-gray-100 active:(outline-none bg-gray-200);
}

.autocomplete-list .item.selected {
  @apply bg-gray-200;
}

.asset-input {
  @apply cursor-text rounded border-1 border-gray-400 font-normal
  default-transition text-sm outline-none hover:border-blue-600 my-1 p-2
  focus-within: (outline-none border-blue-800 ring-2 ring-blue-300);
}

.checkbox {
  @apply h-4 w-4 border-gray-300 rounded-sm bg-white
  focus:outline-none checked:(bg-blue-600 border-blue-600)
  mr-2 cursor-pointer outline-none my-auto;
}

.url {
  @apply text-blue-500;
}
